@font-face {
  font-family: 'Jano Sans Black';
  src: url('fonts/Jano Sans Pro Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Jano Sans Black Italic';
  src: url('fonts/Jano Sans Pro Black Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Jano Sans SemiBold Italic';
  src: url('fonts/Jano Sans Pro SemiBold Italic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

.circle-top{
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background-color: #2481bc;
  clip-path: circle(60% at 0 0);
  z-index: -1;
}

.ellipse-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 1400px;
  height: 100px;
  background-color: #d45626;
  clip-path: ellipse(43% 120% at 80% 7%);
  z-index: -1;
}

.ellipse-bottom {
  position: absolute;
  top: 820px;
  left: 0;
  width: 1400px;
  height: 100px;
  background-color: #d45626;
  clip-path: ellipse(43% 120% at 17% 99%);
  z-index: -1;
}

.circle-bottom {
  position: absolute;
  top:720px;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 200px;
  background-color: #2481bc;
  clip-path: circle(60% at 100% 100%);
  z-index: -1;
}

body {
    font-family: 'Jano Sans Black', sans-serif;
    background-color: #e5d6d1;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 40px;
  }
  
  #paymentpage.hidden{
    justify-content: center;
  }

  .container {
    background-color: #fff5e3;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    max-width: 500px;
    width: 100%;
  }
  
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color:#2481bc;
    margin: 0px;
    font-family: 'Jano Sans Black Italic', sans-serif;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  p{
  font-family: 'Jano Sans Semibold Italic', sans-serif;
  color: #d45626;
  }

  label {
    margin-top: 12px;
    font-family:'Jano Sans Semibold Italic', sans-serif;
    font-weight: 600;
    color: #d45626;
  }
  
  input, select {
    margin-top: 5px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 6px;
  }
  
  button {
    margin-top: 20px;
    padding: 12px;
    background-color: #2481bc;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2563eb;
  }
  
  .hidden {
    display: none;
  }
  
  #confirmation {
    margin-top: 20px;
    padding: 15px;
    background-color: #d1fae5;
    color: #065f46;
    border: 1px solid #10b981;
    border-radius: 6px;
  }
  
